<section id="intro" class="center" data-background="{{basepath}}assets/images/slide_backgrounds/processed/slide2.png">
  <div class="slide-content">
    <p>
    <h1>{{doc.Intro.Title}}</h1>
    <p>{{doc.Intro.Content}}</p>
    </p>
  </div>
</section>
