<section id="outro" class="center" data-background="{{basepath}}assets/images/slide_backgrounds/processed/outro.png">
  <div class="slide-content">
    <p>
      {{doc.conclusion}}
    </p>
    <ul>
      <li><a href="https://www.stat.berkeley.edu/~stark/Preprints/gentle12.pdf">A Gentle Introduction to Risk-Limiting
          Audits</a></li>
      <li><a href="https://www.democracyfund.org/media/uploaded/2019_DF_KnowingItsRight_Part2.pdf">Risk-Limiting Audit
          Implementation Workbook</a></li>
      <li><a href="https://www.youtube.com/watch?v=gMbz0_dizoA">Making Every Vote Count: A Practical Guide to
          Risk-Limiting Audits</a></li>
    </ul>
  </div>
</section>
