<section id="outro" class="center" data-background="{{basepath}}assets/images/slide_backgrounds/processed/outro.png">
  <div class="slide-content">
    <p>
      {{doc.Conclusion}}
    </p>
  </div>
</section>
